<div class="row px-0 py-2 card-body">
    <div class="carc col-4 px-0">
        <div class="card-header py-0">
            Placeholder
        </div>
        <input class="col-12" type="text" name="placeholder" value="{{getNodeValue('placeholder')}}"
            (change)="inputValueChanged($event)">
    </div>
    <div class="card col-4 px-0">
        <div class="card-header py-0">
            Marks
        </div>
        <input class="col-12" type="number" name="answermark" value="{{getNodeValue('answermark')}}"
            (change)="inputValueChanged($event)">
    </div>
    <div class="col-4 card px-0">
        <div class="card-header py-0">
            Penalty
        </div>
        <input class="col-12" type="number" name="unitpenalty" value="{{getNodeValue('unitpenalty')}}"
            (change)="inputValueChanged($event)">
    </div>
</div>
<div class="row px-0 py-2">
    <div class="col-xs-12 col-sm-12 col-md-12 col-12 col-lg-7 col-xl-7">
        <div class="card-header py-0">
            Question
        </div>
        <textarea class="col-12" type="text" name="subqtext"
            (change)="inputValueChanged($event)">{{getNodeValue('subqtext')}}</textarea>
        <div class="col-12">
            <div class="card-header py-0">
                Preview
            </div>
            <div class="card-body py-1 preview bg-light" [innerHTML]="getNodeValue('subqtext') | input" #htmlElement>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-12 col-lg-5 col-xl-5 bg-light">
        <div class="col-sm-12">
            <div class="card-header py-0">
                Feedback
            </div>
        </div>
        <div>
            <div class="card-header py-0">
                Correct
            </div>
            <textarea class="col-12" type="text" name="correctfeedback"
                (change)="inputValueChanged($event)">{{getNodeValue('correctfeedback')}}</textarea>

        </div>
        <div>
            <div class="card-header py-0">
                Partially Correct
            </div>
            <textarea class="col-12" type="text" name="partiallycorrectfeedback"
                (change)="inputValueChanged($event)">{{getNodeValue('partiallycorrectfeedback')}}</textarea>

        </div>
        <div>
            <div class="card-header py-0">
                Incorrect
            </div>
            <textarea class="col-12" type="text" name="incorrectfeedback"
                (change)="inputValueChanged($event)">{{getNodeValue('incorrectfeedback')}}</textarea>

        </div>
    </div>
</div>

<div class="row px-auto py-2">

    <div class="col-sm-12 row">
        <div class="col-sm-6">
            <div class="card-header py-0">
                Variable 1
            </div>
            <textarea class="col-12" type="text" name="vars1"
                (change)="inputValueChanged($event)">{{getNodeValue('vars1')}}</textarea>
        </div>
        <div class="col-sm-6">
            <div class="card-header py-0">
                Variable 2
            </div>
            <textarea class="col-12" type="text" name="vars2"
                (change)="inputValueChanged($event)">{{getNodeValue('vars2')}}</textarea>
        </div>
    </div>


</div>
<div class="row pt-1 bg-light mx-1">
    <div class="col-4">
        <div class="col-12">
            <div class="card-header py-0">
                Answers
            </div>
            <input class="col-sm-12 px-3" type="text" name="answer" value="{{getNodeValue('answer')}}"
                (change)="inputValueChanged($event)">
        </div>
        <div class="col-12 mx-1">
            <div class="card-header py-0">
                Answer Type
            </div>
            <select name="answertype" class="form-select form-select-md mb-3 col-12"
                aria-label=".form-select-lg example" (change)="inputValueChanged($event)">
                <option value="0" [selected]="getNodeValue('answertype') == 0">Number</option>
                <option value="10" [selected]="getNodeValue('answertype') == 10">Numeric</option>
                <option value="100" [selected]="getNodeValue('answertype') == 100">Numeric Formula</option>
                <option value="1000" [selected]="getNodeValue('answertype') == 1000">Algebraic Formula</option>
            </select>

        </div>
    </div>
    <div class="col-8">
        <div class="card-header py-0">
            Correctness
        </div>
        <textarea class="col-sm-12" type="text" name="correctness"
            (change)="inputValueChanged($event)">{{getNodeValue('correctness')}}</textarea>
    </div>
</div>