    <div class="card">
        <div class="card-header py-0">
            {{getName()}}
        </div>
        <div class="card-body py-1">
            <input class="col-sm-12" type="text" name="{{element.nodeName}}"
                value="{{getTextContent()}}"
                (change)="inputValueChanged($event)">
        </div>
    </div>
    @if(isHtml()){
    <div class="card mt-2">
        <div class="card-header py-0">
            Preview
        </div>
        <div class="card-body py-1 preview"
            [innerHTML]="getTextContent() | placeholder | input">
        </div>
    </div>
    }
