
/* Moodle Color theme */
.m_background {
    background-color: #6666FF;
}
.m_foreground{
    color: #F27F22;
}


/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

.selected {
    background-color: #005D62;
    color: white;
    padding-left: 4px;
    border-style: groove;
    border-radius: 4px;
}

.preview {
    min-height: 150px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    box-sizing: border-box;
}
.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
}
.bg-wrap:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


#main {
    transition: margin-left 0.3s;
}

#sidebar {
    position: sticky;
    height: 100%;
    background: #333;
    color: #fff;
    transition: all 0.3s;
    z-index: 999;
}

#sidebar.active {
    left: 0; /* Visible when active */
}


/* Styles for the toggle button */
#sidebarToggle {
    display: none; /* Hide by default */
}

@media (max-width: 768px) {
    #sidebar {
        position:fixed;
        height: 100%;
        left: -100%;
    }

    #sidebar.active {
        width: 90%;
        height: 90%;
        overflow-x: hidden;
        overflow-y: auto;
        left: 0; /* Show sidebar */
    }

    #sidebarToggle {
        display: block; /* Show toggle button on mobile */
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1000; /* Ensure it's above other content */
    }
    #main{
        width:100%;
    }
}

.sidebar {

    background-color: #2c2f34;
    padding-top: 20px;
    
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    width: 100%;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

.sidebar ul li a i {
    margin-right: 15px;
    font-size: 20px;
}

.sidebar ul li a .notif {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #3f307f; /* Notification badge background color */
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.sidebar ul li.active a {
    background-color: #4285f4; /* Highlight color for the active menu */
}

.sidebar ul li.active a, .sidebar ul li.active a i {
    color: white;
}

.sidebar ul li a:hover {
    background-color: #1c1e22; /* Background color on hover */
    color: #aaff; /* Text and icon color on hover */
}

.sidebar ul li a:hover i {
    color: #00aaff; /* Icon color on hover */
}

.sidebar ul .sub a{
    font-size: 16px;
    background-color: #2c2e32;

    display: flex;
    align-items: center;
    padding: 15px 0px 15px 40px;
    text-decoration: none;
    color: white;
    position: relative;
}
a{
    cursor: pointer;
}
.sidebar ul .btn-bar {
    background-color: #1c1e22;
    display: flex;
 
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.sidebar ul .btn-bar a:hover{
    background-color: #202DF2 !important;
}

a.disabled {
    pointer-events: none;
    background-color: #4c4e52 !important;
    cursor: wait !important;
}

.summary {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    display: none; /* Hidden by default */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .summary-content {
    background-color: #fefefe;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 95%;
  }

  .action-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    justify-content: center;
    align-items: center;
  }

  .model-body{
    width: auto;
    height: auto;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    position:fixed;
    background-color: #fefefe;
  }
  
  .modal-content {
    text-align: center;
  }

  .modal-progress {
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
    height: 20px;
  }

  .modal-progress-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.4s;
  }

  .modal-confirm{
    display: none;
  }