<div class="container-fluid my-5">
    <div class="row">
        <nav class="col-md-3 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul id="treeUI">
                    <li><span class="caret">Question</span>
                        <ul class="nested">
                            @for (element of elements; track element){
                            <li class="nodeItem" (click)="itemClicked($event)">
                                @if(element.getElementsByTagName('text').item(0) != null){
                                {{element.nodeName}}
                                } @else{
                                {{element.nodeName}}
                                }
                            </li>
                            }
                            <li><span class="caret">Answers</span>
                                <ul class="nested">
                                    @for (answer of answers; track answer){
                                    <li class="answerItem" (click)="answerClicked($event, answer.getElementsByTagName('partindex').item(0).firstElementChild.textContent.trim())">
                                        {{answer.nodeName}}
                                    </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto pt-3 px-4">
            @for(item of currentItem; track item){
            @if(isAnswer(item)){
                <div class="card col-sm-10 mb-2">
                    <app-answer-item [element]="item" (event)="answerValueChanged($event)"></app-answer-item>
                </div>
            } @else{
                <div class="card col-sm-10 mb-2">
                    <app-item [element]="item" (event)="inputValueChanged($event)"></app-item>
                </div>   
            }
            }
        </main>
    </div>

</div>