<nav class="navbar navbar-expand-md bg-dark navbar-dark ">
  <!--<button id="sidebarToggle" class="btn btn-primary d-md-none mt-5">☰</button>  Sidebar Toggle Button -->
  <button id="sidebarToggle" class="navbar-toggler" type="button" data-toggle="collapse" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand px-4" href="#">Moodle Question Wrapper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav  mr-auto">

      <li class="nav-item hidden">
        <a id="save" class="nav-link">Save</a>
      </li>
      <li class="nav-item hidden">
        <a id="download" class="nav-link">Download</a>
      </li>
      <li class="nav-item hidden">
        <a class="nav-link" id="upload">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="wizard" (click)="startWizard($event)">Wizard</a>
      </li>
    </ul>
  </div>
</nav>