<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand px-4" href="#">Moodle Question Wrapper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>x
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Import</a>
        </li>
        <li class="nav-item">
          <a id="export" class="nav-link">Export</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-create">From Template</a>
        </li>
  
      </ul>
    </div>
  </nav>
  
